<p id="notice"><%= notice %></p>

<div id="ideas">
		<div class="center">
			<%=image_tag @idea.image.url %>
		</div>
		<p class="center"><%= link_to 'Edit', edit_project_board_idea_path %></p>

</div>



