
<script>
$(function() {
  $( "#projects" ).sortable();
  $( "#projects" ).disableSelection();
});
</script>

<h1 class="center">Your Projects</h1>

<div id="projects">

	<% @projects.order("created_at desc").each do |project| %>

		<div class="project-list">

			<p class="project-name"><%= link_to project.name, project %></p>

			<p class="controls">
		    <% if project.user == current_user # make sure current user owns this project %>
		      <%= link_to 'Edit', edit_project_path(project) %> | 
		      <%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %>
		    <% end %>
	  	</p>

	  </div>
	  
	<% end %>

</div>

<% if user_signed_in? %>
<!--   <p><%= link_to 'New Project', new_project_path %><p> -->
<% end %> 
