<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p><%= link_to 'Add New Board', new_project_board_path(@project), class: "btn btn-primary" %> <p>

<h3>Boards</h3>

<% @boards.each do |board| %>
  <ul>
  	<li>
  		<%=  board.title %>
		</li>
	</ul>

<% end %>