<p id="notice"></p>

  <h1 class="center">
  	<%= @board.title %>
	</h1>

<p class="description center"><%= @board.description %></p>

<div id="ideas">
	
	<% @board.ideas.each do |idea| %>
		<div class="box">

			<%=link_to( image_tag(idea.image.url(:medium)), project_board_idea_path(@project,@board,idea)) if idea.image? %>
			</div>
	<% end %>
	<div class="clear"></div>
		
</div>


