<p id="notice"><%= notice %></p>

  <h1 class="center">
  	<%= @board.title %>
  	<span class="btn btn-default btn-sm">
  		<%= link_to 'Edit', edit_project_board_path(@board.project_id,@board) %>
		</span>
	</h1>
  

<p class="description center"><%= @board.description %></p>

