@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

$body-bg:											#fff;
$font-family-sans-serif:			'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-height:								45px;
$navbar-default-bg:						#000;
$navbar-default-brand-color:	#fff;
$navbar-link-color:						#fff;
$brand-primary:								#999;
$jumbotron-bg:								white;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
     text-align: center;
}

.main-content { width: 1280px;}

.navbar { border-radius: 0; border: 0; }

.navbar-default .navbar-nav > li > a { color: #777; }
.navbar-default .navbar-nav > li > a:hover { color: #000; background: #fff; }

.navbar-brand {
     font-weight: 300;
}

h1,h2,h3,p,ul,li { font-weight: lighter; }

.btn-sm, .btn-group-sm > .btn {
  padding: 2px 8px;
  font-size: 9px;
  line-height: 1.4;
  border-radius: 2px;
}

.navbar-secondary { background-color: #515151; margin-top: -20px; }
.navbar-secondary a { color: #fff; border-left: 1px solid #aaa; }
.navbar-secondary a:hover { color: #000; background: #f2f2f2;  }

.navbar-secondary li:last-child { color: #fff; border-right: 1px solid #aaa; }

.share-url { display: none; }
.share-hover:hover > .share-url { display: block; color: #fff; }

.new-project { float: right; }
	.new-project a { border: none; }
td { padding: 8px 4px; border: 1px solid #333; }

.description { font-size: 18px; text-align: center; padding: 0 90px; }

.top { margin:0 auto; margin-bottom:20px; padding: 10px 5px; width: 1000px; }
.top h1 { text-align: center; margin-bottom: 20px; }

.btn-primary { background-color: #515151; font-weight: 300; border-radius: 0;  }


#ideas { 
	margin: 0 auto;
}

#ideas {
  margin-bottom: 20px;
  clear: both;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


.box {
	background: none;
	border: none;
	margin: 0;
	margin: 3px 2px;
	padding: 0;
	float: left;
	min-width: 400px;
}

.box img {
	width: 100%; 
}

.idea-meta { 
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    bottom: 0;
    width: 100%;
    display: none;
 }

 .box:hover > .idea-meta { 
    display: block;
 }

.username { text-align: right; padding: 10px 20px; color: #fff; font-size: 16px; }

.delete { margin-top: -30px; }
.delete a { padding: 10px 8px; } 

.board-item .delete { margin: 0; }
.board-item .delete a { padding: 0; }

/* error styles */

#error_explanation {
		background-color: #f9f2f4; 
		color: #c7254e; 
		border: 1px solid #c7254e; 
		margin: 20px 0 20px 20px;
		border-radius: 5px;  
}

#error_explanation h2 { 
	font-size: 18px;
	padding: 0 20px;
}

/* style projects index */

.project-list { margin-bottom: 20px; text-align: center; margin:0; padding: 10px 0; }
.project-name { font-weight: lighter; font-size: 28pt; }
.project-name a:link { display: block; width: 100%; }
.project-name a:link { text-decoration: none; }

/* style boards index */

#all-boards, #projects { width: 800px; margin: 0 auto; }
.board-item, .project-list { margin: 10px 0; padding: 5px 40px; background: #f8f8f8; }
.board-item:last-of-type { margin-bottom: 30px; }


