@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

$body-bg:											#ecf0f1;
$font-family-sans-serif:			'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-height:								45px;
$navbar-default-bg:						#000;
$navbar-default-brand-color:	#fff;
$brand-primary:								#999;
$jumbotron-bg:								white;

@import 'bootstrap';

.center {
     text-align: center;
}

.navbar-brand {
     font-weight: bold;
}

h1,h2,h3,p,ul,li { font-weight: lighter; }