@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

$body-bg:											#ecf0f1;
$font-family-sans-serif:			'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-height:								45px;
$navbar-default-bg:						#2c3e50;
$navbar-default-brand-color:	#fff;
$navbar-link-color:						#fff;
$brand-primary:								#999;
$jumbotron-bg:								white;

@import 'bootstrap';

.center {
     text-align: center;
}

.navbar-brand {
     font-weight: 300;
}

h1,h2,h3,p,ul,li { font-weight: lighter; }

.navbar-secondary { background-color: #bdc3c7; margin-top: -20px; }
.navbar-secondary a { color: #000; }

td { padding: 8px 4px; border: 1px solid #333; }

.description { font-size: 25px; }

#ideas { 
	margin: 0 auto;
}

.box {
	float: left;	
}

.box img {
	width: 100%; 
}

.delete { margin-top: -30px; }

.delete a { padding: 10px 8px; }
